*.py[cod]
.*
!.babelrc
!.codeclimate.yml
!.coveragerc
!.dockerignore
!.eslintrc.json
!.flowconfig
!.github
!.gitignore
!.nvmrc
!.pylintrc
!.travis*
!.tx
*.log
*.pot
*.pyc
.idea
local_settings.py
__pycache__/
build/
dist/
*\.egg*
# data
/docs/_build/
/media/
/node_modules/
/saleor/static/assets/
webpack-bundle.json
common.env